@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700&display=swap');

// Fonts
$primary-font: 'Noto Sans', sans-serif;

//colors
$dark-color: #1E293B;
$white-color: #FFFFFF;
$primary-color: #3066FF;
$secondary-color: #64748B;
$info-color: #55A6F8;
$success-color: #67C23A;
$danger-color: #EA4E3D;
$warning-color: #F19937;


//light neutral colors
$gray-100: #F9FAFB;
$gray-200: #e9ecef;
$gray-300: #DDE0E5;
$gray-400: #CED4DA;
$gray-500: #ADB5BD;
$gray-600: #6C757D;
$gray-700: #343A40;
$gray-800: #343A40;
$gray-900: #212529;

