@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700&display=swap');

// Fonts
$primary-font: 'Noto Sans', sans-serif;

//colors
$dark-color: #1E293B;
$white-color: #FFFFFF;
$primary-color: #1B46C2;
$secondary-color: #64748B;
$info-color: #55A6F8;
$success-color: #67C23A;
$danger-color: #EA4E3D;
$warning-color: #F19937;
