.headerContainer {
  height: 692px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://firebasestorage.googleapis.com/v0/b/ecommerce-moina.appspot.com/o/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg?alt=media&token=47f4c6b2-09bb-4a82-b149-2e1746c1b462');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .headerText {
    color: #FFFFFF;
    width: 70%;
    max-width: 820px;
    margin: 10em auto 0;
    text-align: center;
    
    .btnExplore {
      color: #FFFFFF;
      border: solid 1px #FFFFFF;
      border-radius: 6px;
      padding: 0.6em 1.2em;
      margin-top: 2em;
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
    }
  }
}