@use '../../styles/abstracts/variables' as var;

.itemContainer {
  height: 200px;
  display: flex;
  width: 100%;
  gap: 1.3em;
  padding: 1em 0 1em;
  border-bottom: 2px solid var.$gray-500;

  img {
    width: 150px;
    height: 150px;
    padding: 1em;
    object-fit: contain;
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid var.$gray-400
  }

  .infoContainer {
    width: 70%;
    position: relative;

    .productDetailsCart {
      display: grid;
      grid-template-columns: 1fr 1fr;
  
      h4 {
        grid-column: 1/3;
      }

      .priceSpan {
        font-weight: bold;
      }

      .quantitySpan {
        width: 3rem;
        height: 3rem;
        border-radius: 4px;
        border: 2px solid var.$gray-400;
        text-align: center;
        padding: 0.15em;
        font-weight: bold;
      }

      .closeSpan {
        position: absolute;
        top: 0;
        right: -50px;
        cursor: pointer;
        font-size: 2rem;

        &:hover {
          color: red;
        }
      }
    }

    .stockP {
      position: absolute;
      bottom: 0;
    }
  }

}

.itemWhite {
  color: var.$white-color;
}