@use '../../styles/abstracts/variables' as var;

.orderProducts {
  display: flex;
  border-radius: 6px;
  border: 1px solid var.$gray-300;
  padding: 1em;
  justify-content: space-between;

  img {
    width: 140px;
    height: 140px;
    object-fit: contain;
  }

  .prodDescription {
    width: 86%;

    .prices {
      margin: 0;
      span:first-child {
        padding-right: 0.5em;
      }
    
      span:last-child {
        display: inline-block;
        padding-left: 0.5em;
        border-left: 1px solid var.$secondary-color;
      }
    }
  }

}

@media (max-width: 700px) {
  .orderProducts {
    flex-direction: column;
    align-items: center;

    div {
      text-align: center;

      p {
        display: none;
      }
    
    }



    
  }
}