@use '../../styles/abstracts/variables' as var;

.navRight {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: var.$secondary-color;

    .menuIcon {
        @media (min-width: 700px) {
            display: none;
        }
    }

    .divButton {
        display: none;
        display: flex;
        align-items: center;
        gap: 5px;

        .userName {
            
            @media (max-width: 500px) {
                display: none;
            }
        }

        img {
            width: 30px;
            height: 30px;
            border-radius: 6px;
        }

        span {
            width: 30px;
            height: 30px;

            .userImage {
                font-size: 1.8em;
            }
        }

        .btnLogout{
            width: 82px;
            height: 30px;
            color: var.$white-color;
            background-color: #474A57;
            border: 2px solid #AFAFAF;
            border-radius: 6px;
            cursor: pointer;

            @media (max-width: 700px) {
                display: none;
            }
        }

        @media (min-width: 700px) {
            display: inherit;
        }
    }
}